<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 sticky-top">
    <a class="navbar-brand" href="/">ShowTime</a>

    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
            <a class="nav-link d-flex justify-content-center align-items-center"
               style="width: 48px; height: 48px;"
               href="#" id="navDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-list fs-2"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navDropdown">
                <li>
                    <NavLink class="dropdown-item" href="/" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li>
                    <NavLink class="dropdown-item" href="/festivals">Festivals</NavLink>
                </li>
                <li>
                    <NavLink class="dropdown-item" href="/artists">Artists</NavLink>
                </li>
            </ul>
        </li>
    </ul>
</nav>
